<section>
<h2 class="recipe-head">
  <%= @recipe.name%>
</h2>
<br />
<div class="recipe-info">
  <div class="toggle_container">
    Public <%= button_to "", "/public_toggle/#{@recipe.id}", class:"btn btn_recipe_state #{@recipe.public}" %>
  </div>

<p>
  preparation time: <%= @recipe.preparation_time%>
</p>
<p>
   cooking time: <%= @recipe.cooking_time%>
</p>
<p>
   Description: 
   <br/>
   <p style="font-weight: normal"><%= @recipe.description%></p>
</p>
</div>
  <% if can? :manage, @recipe %>
  <%= form_with(model: RecipeFood.new, url: recipe_recipe_foods_url(recipe_id:@recipe.id), class:"recipe-form") do |f| %>
    <%= link_to("Shopping list", shopping_list_path, method: :get, data: { turbo_method: :get }, class:"btn btn_shopping_list") %>
    <div class="form-group">
      Food: 
      <%= f.search_field :food, autofocus: true, autocomplete: "ingredient", list: 'foods' %>
      <datalist id="foods">
        <% Food.all.each do |food| %>
          <option value="<%= food.name %>">
        <% end %>
      <datalist>
    </div>
    <div class="form-group">
      Quantity: 
      <%= f.number_field :quantity %>
    </div>
    <%= f.submit "Add Ingredient", class:'btn save' %>
  <% end %>
  <%end%>
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>    
    <% @ingredients.each do |ingredient|%>
    <tr>
      <td><%= ingredient.food.name%></td>
      <td><%= ingredient.quantity%></td>
      <td><%= ingredient.food.price%></td>
      <% if can? :manage, @recipe %>
      <td class="action">
        <%= button_to "Remove", recipe_recipe_food_path(recipe_id:@recipe.id, id:ingredient.id), method: :delete, class:"btn delete"%>
      </td>
      <%end%>
    </tr>
    <%end%>                
  </table>
</section>