<div class="container">
<div class="text-end me-3">
    <button>
        <%= link_to 'Add New Food', new_food_path, class: "text-decoration-none" %>
    </button>
</div>

<% if @foods.length === 0 %>
    <h3>There are no available food, click on Add New Food</h3>
<% else %>
        <table class="table table-bordered border-primary mt-3">
            <thead class="table-dark">
                <tr>
                <th scope="col">Food</th>
                <th scope="col">Measurement Units</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <% @foods.each do |food|%>
            <tbody>
                <tr>
                <td scope="col"><%= food.name %></td>
                <td scope="col"><%= food.measurement_unit %></td>
                <td scope="col"><%= food.quantity %></td>
                <td scope="col">$ <%= food.quantity %></td>
                <td scope="col"><%= button_to 'Delete', food_path(food), method: :delete %></td>
                </tr>
            </tbody>
            <% end %>
        </table>
<% end %>
</div>