<h1>New Food</h1>
<%= form_with model: @foods, url: foods_path, method: :post, local: true, scope: :food do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :measurement_unit %><br>
    <%= f.text_field :measurement_unit %>
  </div>
  <div>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div><br>
  <%= f.submit "Create Food" %>
<% end %>